<!DOCTYPE html>
<html>
<head>
  <title>Newspaper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 id="title">The Westgate Investigator</h1>
  <nav>
    <ul>
      <% Section.all.each do |section| %>
        <li><%= link_to section.name, section_path(name: section.name) %></li>
      <% end %>
    </ul>
  </nav>

<%= yield %>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
